<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mock service</title>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
  <script data-main="@routes.Assets.versioned("javascripts/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
</head>
<body ng-controller="mockCtrl">


      

<br>
<div style="margin-left:80px;margin-right:80px">

	<div style="background-color: #fafafa;" class="row mock_container">
		<div class="col-md-12 text-center">
			<h1>Mock service</h1>
		</div>	
		<div class="col-md-12 text-center">
			<p>A simple mock service for http requests. Create and configure a mock with just a few clicks and keystrokes...</p>
		</div>	
		<div style="margin-top:100px" class="col-md-12 text-center"> 
			<p><button class="btn btn-primary btn-lg" ng-click="newMock()">New mock!</button></p>
		</div>
	</div>	
 
	<div ng-repeat="mock in mockList">
		<div ng-show="!mock.create" class="mock_container row flippable {{mock.currentSide}}">
			<div style="background-color: #fafafa;" class="flippable_content front">
				<div class="col-md-11">
					<h3><span ng-bind="mock.method"></span><span> </span><span ng-bind="mock.path"></span></h3>
				</div>
				<div class="col-md-1">
					<button type="button" class="btn btn-info" ng-click="showInfo($index)" style="margin-top:20px">Info</button>
				</div>
				
				
				<div class="col-md-6">
					<label for="responseCode">Response code</label>
			    	<input type="text" ng-model="mock.responseCode" class="form-control" id="responseCode" placeholder="Response code">
				</div>
				<div class="col-md-6">
			    	<label for="responseTimeInMillis">Response time</label>
			    	<input type="text" ng-model="mock.responseTimeMillis" class="form-control" id="responseTimeInMillis" placeholder="Response time in millis">			
				</div>	
				<div class="col-md-12">
			    	<label for="body">Body</label>
			    	<textarea rows="5" ng-model="mock.body" class="form-control" id="body" placeholder="Body"></textarea>			
				</div>	
				<div style="margin-top:20px" class="col-md-2">
					<p><button class="btn btn-success" ng-click="createMock($index)">Update mock</button></p>
				</div>	
				<div style="margin-top:20px" class="col-md-2">
					<p><button class="btn btn-danger" ng-click="deleteMock($index)">Delete mock</button></p>	
				</div>
			
			</div>
			<div style="background-color: #fafafa;" class="flippable_content back">
		
				<div class="col-md-11">
					<h3><span ng-bind="mock.method"></span><span> </span><span ng-bind="mock.path"></span></h3>
				</div>
				<div class="col-md-1">
					<button type="button" class="btn btn-info" ng-click="showInfo($index)" style="margin-top:20px">Mock</button>
				</div>
				
				
				<div class="container">
  					<div class="col-md-6">
	    				<h4 class="text-center">Outgoing Requests</h4>
	    				<div id="statistics" class="big-chart">
	    					<div class="chart-holder">
	    						<div class="chart" id="{{mock.method + mock.path}}">
	    						</div>
	    					</div>
	    				</div>
  					</div>
				</div>	
		
			</div>		
			
		</div>
			 
		<div style="background-color: #fafafa;" class="row mock_container" ng-show="mock.create">
			<div class="col-md-6">
				<label for="method">Http Method</label>
		    	<input type="text" ng-model="mock.method" class="form-control" id="method" placeholder="Http Method(GET,PUT,POST,DELETE)">
			</div>
			<div class="col-md-6">
		    	<label for="path">Path</label>
		    	<input type="text" ng-model=mock.path class="form-control" id="path" placeholder="Path to resource">			
			</div>
			<div class="col-md-6">
				<label for="responseCode">Response code</label>
		    	<input type="text" ng-model="mock.responseCode" class="form-control" id="responseCode" placeholder="Response code">
			</div>
			<div class="col-md-6">
		    	<label for="responseTimeInMillis">Response time</label>
		    	<input type="text" ng-model="mock.responseTimeMillis" class="form-control" id="responseTimeInMillis" placeholder="Response time in millis">			
			</div>	
			<div class="col-md-12">
		    	<label for="body">Body</label>
		    	<textarea rows="5" ng-model="mock.body" class="form-control" id="body" placeholder="Body"></textarea>			
			</div>	
			<div style="margin-top:20px" class="col-md-2">
				<p><button class="btn btn-success" ng-click="createMock($index)">Create mock</button></p>
	    		
			</div>	
			<div style="margin-top:20px" class="col-md-2">
				<p><button class="btn btn-danger" ng-click="deleteMock($index)">Delete mock</button></p>	
			</div>
		</div>	
	</div>

	
</div>




</body>
</html>
